<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ashutosh Singh | Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navbar Area Desktop-->
    <nav id="navbar">
        <div class="logo">
            <img src="/images/logo.png" class="logo_img" alt="Logo">
        </div>
        <ul class="nav-item">
            <li class="nav-list"><a href="#" class="nav-link"><i class="fa-solid fa-house-user"></i> Home</a></li>
            <li class="nav-list"><a href="#" class="nav-link"><i class="fa-solid fa-square-poll-horizontal"></i> Portfolio</a></li>
            <li class="nav-list"><a href="#" class="nav-link"><i class="fa-solid fa-address-card"></i> About</a></li>
            <li class="nav-list"><a href="#" class="nav-link"><i class="fa-solid fa-address-book"></i>  Contact</a></li>
        </ul>
    </nav>
    <!-- Navbar Area end -->
    <!-- section main home start -->
    <section class="main-banner">
        <div class="home-container">
            <div class="home-row">
                <div class="home-col col-1">
                    <div class="text-right">
                        <h1 class="title">Hii There</h1>
                        <h1 class="sub-title">My Self <span  class="clr-white">Ashutosh Singh</span></h1>
                        <p class="para">I'm a Website Developer</p>
                    </div>
                </div>
                <div class="home-col col-2">
                    <img src="/images/own.png" class="home-img" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- section main home end -->
    
</body>
<script src="script.js"></script>

</html>