*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 50px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 10px;
}
label{
    margin: 0px 50px 0px 55px;
}
input{
    padding: 10px;
    width: 70%;
    margin: 5px 0px 20px 50px;
    display: block;
    border-radius: 10px;
    border: .5px solid black;
}
input:focus{
    border:transparent;
}

.btn{
    padding: 15px 50px;
    background: lightgreen;
    font-size: 15px;
    margin: 0px 0px 20px 50px;
    border: none;
    border-radius: 10px;
    /* word-wrap:break-word; */
}
#Percen{
    color: green;
    font-size: 25px;
    margin-left: 50px;
}
@media screen and ( max-width:430px) {
    .container{
        padding: 5px;
    }
    .btn{
        width: 70%;
    }
}

@media screen and ( max-width:370px) {
    input, 
    label,
    .btn,
    #Percen{
        margin: 5px 2px 20px 5px;
    }
    .container{
        margin: 25px;
    }
    .btn{
        padding: 15px 20px;
    }
}